.cropper-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.cropper-container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  text-align: center;
}

.slider-box {
  margin: 15px 0;
}

.crop-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.save-btn {
  background: green;
  color: white;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-btn {
  background: red;
  color: white;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
