.login-wrapper {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* ---------------- LEFT SLIDER ---------------- */

.login-slider {
  flex: 2;
  position: relative;
  background: #0aa8f2;
  overflow: hidden;
}

.login-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ffffff80;
  border-radius: 50%;
}

.dot.active {
  background: white;
}

/* ---------------- RIGHT LOGIN ---------------- */

.login-form-section {
  flex: 1;
  background: #fff;
  padding: 80px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-section h2 {
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-form input {
  padding: 14px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.login-form input:focus {
  outline: none;
  border-color: #0aa8f2;
}

.login-form button {
  padding: 14px;
  background: #0aa8f2;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background: #028fd0;
}

.error-msg {
  color: red;
  margin-bottom: 10px;
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-slider {
    height: 300px;
  }

  .login-form-section {
    padding: 40px 25px;
  }
}
/* ---------- ROLE TOGGLE ----------- */

.role-toggle {
  display: flex;
  background: #eaf6ff;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 25px;
  width: fit-content;
}

.role-toggle button {
  padding: 10px 22px;
  border-radius: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  color: #0aa8f2;
  transition: 0.25s;
}

.role-toggle button.active {
  background: #0aa8f2;
  color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}
