.school-dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #f8fcfa;
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 250px;
  min-height: 100vh;   /* FULL screen height */
  background-color: #09e62a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sidebar-menu li:hover {
  background-color: #3b82f6;
}

.sidebar .logout-btn {
  margin-top: auto;
  background-color: #ef4444 !important;
  color: #ffffff !important;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
  display: block;
  width: 100%;
}

.sidebar .logout-btn:hover {
  background-color: #dc2626;
}


/* Main Content */
.dashboard-content {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.dashboard-content h2 {
  color: #1e3a8a;
  margin-bottom: 20px;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.school-logo {
  width: 80px;
  height: 100px;
 
  object-fit: cover;
  display: block;
  margin: 15px auto;
}
